@import "../../../sass/abstract/variables";

.btn {
  padding: 1rem 3rem;
  border: none;
  border-radius: 2rem;
  transition: all 0.3s ease;
  cursor: pointer;

  &__get-in-touch {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 2rem;
    text-transform: uppercase;
    background: $white-cl;

    & a {
      text-decoration: none;
      color: $dark-blue-cl;
    }

    &:hover {
      box-shadow: 0.3rem 0.5rem 0.7rem rgba(0, 0, 0, 0.4);
    }
  }

  &__apply-filters {
    font-weight: 600;
    color: $white-cl;
    background: $light-blue-cl--1;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  &__display {
    font-size: 2.3rem;
    padding: 0.2rem;
    margin-right: 0.8rem;
    border-radius: 0.3rem;
    color: $black-cl;
    width: 4rem;
    height: 4rem;
    line-height: 3.5rem;
  }

  &__cart {
    font-weight: 600;
    letter-spacing: 0.075rem;
    color: $white-cl;
    background: $light-blue-cl--1;
    text-transform: uppercase;
    align-self: flex-start;

    &:hover {
      box-shadow: $box-shadow--large;
    }
  }

  &__proceed {
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
    background: rgb(230, 59, 59);
    color: $white-cl;
  }

  &__remove {
    background: $light-blue-cl--1;
    color: $white-cl;
    letter-spacing: 0.075rem;
    padding: 0.7rem 1.7rem;
    box-shadow: $box-shadow;
    text-transform: uppercase;
    border-radius: 0.5rem;

    @media only screen and (max-width: 30em) {
      position: absolute;
      top: -1rem;
      right: 0;
      padding: 0.7rem;
      border-radius: 50%;
    }

    & span {
      display: block;

      @media only screen and (max-width: 30em) {
        display: none;
      }
    }

    & svg {
      display: none;

      @media only screen and (max-width: 30em) {
        display: block;
      }
    }
  }

  &__counter {
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &--view-single-product {
      width: 3.5rem;
      height: 3.5rem;
    }

    &--cart {
      width: 3rem;
      height: 3rem;
    }

    svg {
      font-size: 1.4rem;
    }
  }

  &__filter {
    display: none;

    @media only screen and (max-width: 48em) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}
