.loader {
  width: 100%;
  text-align: center;
  align-self: flex-start;

  & svg {
    font-size: 3.5rem;
    margin-top: 2rem;
    animation: loader 2s infinite linear;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
