@import "../../sass//abstract//variables";

.nav {
  width: 100%;
  height: $nav-height;
  background-color: $light-blue-cl--1;
  color: $white-cl;
  padding: 0 3rem;
  transition: all 0.3s ease;

  display: flex;
  align-items: center;

  &--sticky {
    position: sticky;
    top: 0;
    left: 0;
    background-color: $white-cl;
    z-index: 100000;
  }

  &__logo {
    position: relative;
    font-size: 2.5rem;
    font-weight: 600;
    color: $white-cl;
    background-color: $light-blue-cl--1;
    width: 19rem;
    height: $nav-height;
    line-height: $nav-height;
    text-align: center;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0.5rem;
      transform: translateY(-50%);
      width: 5rem;
      height: 5rem;
      border: 0.4rem solid rgb(255, 255, 255);
      z-index: -1;
    }

    & span {
      font-weight: 900;
      margin-right: 0.4rem;
      background-color: $light-blue-cl--1;
      color: $black-cl;
      -webkit-text-fill-color: rgb(79, 169, 198);
      -webkit-text-stroke: 0.155rem rgb(255, 255, 255);
    }

    & .logo-background {
      display: none;
      position: absolute;
      border-top: 3rem solid rgb(118, 183, 208);
      border-right: 9rem solid transparent;
      border-bottom: 0rem solid transparent;
      border-left: 10rem solid transparent;
      bottom: -10rem;
      left: 50%;
      width: 10rem;
      height: 10rem;
      background-color: transparent;
      transform: translateX(-50%);
      z-index: -1;

      &--show {
        display: block;
      }
    }
  }

  &__list {
    display: flex;
    flex: 1;
    height: 100%;

    @media only screen and (max-width: 50em) {
      display: block;
      width: 100vw;
      height: 65vh;
      position: fixed;
      top: 0;
      left: 0;
      margin-top: $nav-height;
      padding: 2rem;
      background: rgba($black-cl, 0.6);
      transform: translateY(-150%);
      transition: transform 0.3s ease;
      z-index: 100;

      &--active {
        transform: translateY(0);
      }
    }

    &--sticky {
      color: $black-cl;
    }

    & > * + * {
      margin-left: 4.5rem;

      @media only screen and (max-width: 50em) {
        margin-left: 0;
        margin-top: 3rem;
      }
    }

    & li:nth-child(1) {
      margin-left: auto;
    }

    & li:nth-child(3) {
      margin-right: auto;
    }

    & li {
      font-weight: 600;
      letter-spacing: 0.1rem;
      color: inherit;
      list-style-type: none;
      text-transform: capitalize;

      display: flex;
      align-items: center;

      @media only screen and (max-width: 50em) {
        font-size: 2rem;
        padding-bottom: 1rem;
        border-bottom: 0.1rem solid $light-blue-cl--1;

        & li:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.sign-in-out-link {
  position: relative;
  margin-right: 1.5rem;

  &:hover .nav__list-sub {
    display: block;
  }

  @media only screen and (max-width: 50em) {
    margin-right: 0;
  }

  & span {
    cursor: pointer;
  }
}

.nav__list-sub {
  display: none;
  position: absolute;
  top: 10vh;
  right: 0;
  width: 20rem;
  padding: 1rem 0;
  background: $dark-blue-cl--1;
  z-index: 10;

  @media only screen and (max-width: 50em) {
    display: block;
    top: 4vh;
    left: 0;
    width: 60%;
    max-height: 0;
    transform: scaleY(0);
    background: transparent;
    transition: all 0.3s ease;

    &--show {
      max-height: 100%;
      transform: scaleY(1);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: 90%;
    transform: translateX(-90%) rotate(45deg);
    width: 2rem;
    height: 2rem;
    background: $dark-blue-cl--1;
    transition: all 0.3s ease;
    z-index: -1;

    @media only screen and (max-width: 50em) {
      display: none;
    }
  }

  li {
    position: relative;
    padding: 1rem;
    padding-left: 1.5rem;
    border-bottom: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0.6rem;
      height: 100%;
      background-color: transparent;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }

    &:hover {
      background: $dark-blue-cl--2;
    }

    &:hover::before {
      background-color: $light-blue-cl--1;
    }

    @media only screen and (max-width: 50em) {
      &:hover {
        background: transparent;
      }

      &:hover::before {
        background-color: transparent;
      }
    }
  }
}

.cart-icon {
  &__box {
    &--sticky {
      color: $light-blue-cl--1;
    }

    @media only screen and (max-width: 50em) {
      margin-left: auto;
    }
  }

  &__link {
    position: relative;
  }

  &__icon {
    position: relative;
    font-size: 2.5rem;
    color: inherit;
    cursor: pointer;
  }

  &__badge {
    font-size: $small-fs;
    color: $white-cl;
    position: absolute;
    top: -1.5rem;
    right: -1.2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: rgb(226, 52, 52);
    display: grid;
    place-items: center;
  }
}
