@import "../../sass//abstract/variables";

.products {
  position: relative;
  flex-basis: 75%;
  padding: 3rem;
  overflow: auto;

  @media only screen and (max-width: 30em) {
    padding: 2rem;
  }

  &__header {
    width: 100%;
    font-size: $small-fs;
    text-transform: capitalize;
    margin-bottom: 3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 30em) {
      align-items: flex-start;
    }

    &--left {
      display: flex;
      gap: 2rem;

      label {
        @media only screen and (max-width: 30em) {
          display: none;
        }
      }
    }

    & select {
      margin-left: 1rem;

      @media only screen and (max-width: 30em) {
        margin-left: 0;
      }
    }
  }

  &__container {
    display: grid;
    gap: 2rem;

    @media only screen and (max-width: 30em) {
      flex-direction: column;
    }

    &--cols {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    &--rows {
      grid-template-columns: 1fr;
      width: 65rem;
      max-width: 100%;
    }
  }
}

.loader {
  width: 100%;
  text-align: center;
  align-self: flex-start;

  & svg {
    font-size: 3.5rem;
    margin-top: 2rem;
    animation: loader 2s infinite linear;
  }
}

.error-message {
  width: 100%;
  text-align: center;
  color: rgb(235, 42, 42);
}

.select-container {
  background: $light-blue-cl--2;
  text-transform: capitalize;
  padding: 1rem;
  border: none;
  box-shadow: $box-shadow;
  cursor: pointer;
}
