@import "src/sass/abstract/variables";

.filter-container {
  height: calc(100vh - $nav-height);
  flex-basis: 25%;
  position: sticky;
  top: $nav-height;
  left: 0;
  padding: 3rem;
  overflow-y: scroll;

  @media only screen and (max-width: 48em) {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba($black-cl, 0.9);
    color: $white-cl;
    overflow: auto;
    transform: translateX(-100%);
    z-index: 100000;

    &--show {
      display: block;
      transform: translateX(0);
    }
  }

  .show-all-products {
    color: $light-grey-cl--1;
    margin-bottom: 2rem;
    border-bottom: none;
    cursor: pointer;
  }

  & h3 {
    font-size: 2rem;
    font-weight: 600;
    color: $dark-grey-cl;
    text-transform: capitalize;
    border-bottom: 0.2rem solid $light-blue-cl--1;
    padding-bottom: 1rem;

    @media only screen and (max-width: 48em) {
      color: $white-cl;
    }
  }
}

.filter-list {
  list-style-type: none;
  padding: 1rem 0;

  li {
    margin-bottom: 0.5rem;
  }
}

.color-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 0;

  &__item {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: $box-shadow;
    cursor: pointer;

    &--black {
      background: $black-cl;
    }
    &--green {
      background: $green-cl;
    }
    &--blue {
      background: $blue-cl;
    }
    &--white {
      background: $white-cl;
    }
    &--grey {
      background: $dark-grey-cl;
    }
    &--pink {
      background: $pink-cl;
    }
    &--lightblue {
      background: $light-blue-cl--1;
    }
    &--darkblue {
      background: $dark-blue-cl--2;
    }
    &--brown {
      background: $brown-cl;
    }
  }
}
