@import "../../sass/abstract/variables";

.product {
  background: $white-cl;
  box-shadow: 0.2rem 0.2rem 0.7rem rgba(0, 0, 0, 0.3);

  &--cols {
    display: block;
  }

  &--rows {
    display: flex;
  }

  &__img {
    width: 100%;
    height: 25rem;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 2rem;

    &--cols {
      display: block;
    }

    &--rows {
      display: flex;
      flex-direction: column;
      justify-content: center;

      & > * + * {
        margin-top: 1rem;
      }
    }

    & div {
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__price {
    font-weight: 600;
    color: $dark-grey-cl;
  }
}
