@import "../../../sass/abstract/variables";

.btn__bars {
  display: none;
  font-size: 4rem;
  margin-left: 2rem;
  background: transparent;
  border: none;
  border-radius: 2rem;
  transition: all 0.3s ease;
  cursor: pointer;

  @media only screen and (max-width: 50em) {
    display: block;
    color: $white-cl;

    &--sticky {
      color: $light-blue-cl--1;
    }
  }
}
